<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>JSF Sample Page</title>
</h:head>

<h:body>
    <h1>#{homeBean.wellcomeText}</h1>

	<h:form id="SampleForm">
		<h:panelGrid columns="2">
			<h:outputLabel id="nameLabel" value="Name" for="nameInput" />
			<h:inputText id="nameInput" value="#{homeBean.information.name}" />

			<h:outputLabel id="descriptionLabel" value="Description" for="descriptionInput" />
			<h:inputText id="descriptionInput" value="#{homeBean.information.description}" />
		</h:panelGrid>

		<h:commandButton id="submitBtn" value="Submit" action="#{homeBean.saveInformation}" />
	</h:form>

	<h:dataTable value="#{homeBean.data}" var="data" rendered="#{!homeBean.data.isEmpty()}">
		<h:column>
			<f:facet name="header">Name</f:facet>
    		#{data.name}
    	</h:column>
		<h:column>
			<f:facet name="header">Description</f:facet>
    		#{data.description}
		</h:column>
		<h:column>
			<f:facet name="header">Date</f:facet>
    		<h:outputText value="#{data.date}">
    			<f:convertDateTime pattern="yyyy-MM-dd" />
    		</h:outputText>
    	</h:column>
	</h:dataTable>

</h:body>
</html>