<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>JSF Sample Page</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<h:outputScript name="js/thirdparty/js.cookie-2.1.4.min.js" />

	<h:outputStylesheet name="css/style.css" />
	<h:outputScript name="js/sample.js" />
</h:head>

<h:body>
	<div class="container">
		<h1>#{homeBean.wellcomeText}</h1>
		<div class="row">
			<div class="col-sm-5">
				<h:form id="SampleForm">
					<div class="form-group">
						<h:outputLabel id="nameLabel" value="Name" for="nameInput" />
						<h:inputText id="nameInput" value="#{homeBean.information.name}" 
							styleClass="form-control" />
					</div>
					<div class="form-group">
						<h:outputLabel id="descriptionLabel" value="Description" for="descriptionInput" />
						<h:inputText id="descriptionInput" value="#{homeBean.information.description}" 
							styleClass="form-control"/>
					</div>
			
					<h:commandButton id="submitBtn" value="Add" action="#{homeBean.saveInformation}" 
						styleClass="btn btn-primary">
						<f:ajax />
					</h:commandButton>
					
					<p:commandButton id="submitLink" value="Navigate" oncomplete="console.log('before-click');document.getElementById('SampleForm:testCookieLink').click();console.log('after-click');"/>
					
					<h:outputLink id="testCookieLink" value="http://localhost:8080/spring-webapp" />
				</h:form>
			</div>

			<div class="col-sm-5">
				<h:dataTable value="#{homeBean.data}" var="data" rendered="#{!homeBean.data.isEmpty()}"
					styleClass="table">
					<h:column>
						<f:facet name="header">Name</f:facet>
						#{data.name}
					</h:column>
					<h:column>
						<f:facet name="header">Description</f:facet>
						#{data.description}
					</h:column>
					<h:column>
						<f:facet name="header">Date</f:facet>
						<h:outputText value="#{data.date}">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss.SSS" />
						</h:outputText>
					</h:column>
				</h:dataTable>
			</div>
		</div>
	</div>
</h:body>
</html>